
    /* import fonts from font.css */
    @import url(./fonts.css);

    /* import -variables */
    @import url(./partials/_variables.css);

    /* import -global.css */
    @import url(./partials/_global.css);


    /* start navigation */

    .header_area .main-menu .navbar .navbar-brand{
        padding:0 2rem 0 5rem;
    }

    .header_area .main-menu .navbar{
        padding: 1rem 20rem;
    }

    .header_area .main-menu .nav-item .nav-link{
        font:normal 500 15px/1px var(--roboto);
        text-transform: uppercase;
        padding: 1.7rem;
        color: var(--title-color);
    }

    .header_area .main-menu .navbar-nav .active a{
        background: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #1c7430;
        background-clip: initial;
    }

    .header_area .main-menu .navbar-nav a:hover{
        background: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #1c7430;
        background-clip: initial;
    }

    /* end navigation */

    /* Home */
    .home-inner{
        background-image: url(../img/banner.jpg);
    }

    /* banner */
    .site-main .site-banner{
        background: url(../img/banner.jpg) no-repeat 50% 50%;
    }
    .site-main .site-banner .site-title h3{
        padding-top: 15%;
        font-weight: 500;
    }
    .site-main .site-banner .site-title h3::after{
        content:" ";
        height: 2px;
        width: 18vw;
        background: black;
        /*display: inline-block;*/
        margin-left: 5%;
        transform:translateY(-10px);
    }
    .site-main .site-banner .site-title h1{
        font-size: 5rem;
    }
    .site-main .site-banner .site-title h4{
        font-size: 1.5rem;
    }
    .site-main .site-banner .banner-img > img{
        padding: 10rem 10%;
        width: 90rem;
    }


    /* end banner*/


